---
import clsx from "clsx";

const { variant = "light", className, borderBottom } = Astro.props;

const borderBottomStyle = borderBottom ? "border-b-[1.5px]" : "";
const borderColorStyle =
  variant === "light" ? "border-primaryDark" : "border-primaryGold";
---

<section class='w-full'>
  <div class='max-w-7xl mx-auto px-2 md:px-5'>
    <div
      class={clsx(
        "flex flex-col w-full mx-auto border-l-0 sm:border-l-[1.5px] border-r-0 sm:border-r-[1.5px]",
        borderColorStyle,
        borderBottomStyle,
        className
      )}
    >
      <slot />
    </div>
  </div>
</section>
